/*
   New Perspectives on HTML
   Tutorial 3
   Case Problem 1

   ICI Text and Color Styles
   Author: Timothy Rodriguez
   Date:   10/02/2015   

   Filename:         c_styles.css
   Supporting Files: none

*/

body {
	background-color: black;
	color: white;
	font-family: 'Century Gothic', sans-serif;
}

header h1 {
	color: yellow;
	font-family: 'Courier new';
	font-size: 28px;
	letter-spacing: 20px;
	text-align: center;
}

article h2 {
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 5px;
}

article p {
	text-align: justify;
}

strong.keyword {
	color: yellow;
	font-weight: normal;
}

footer p {
	text-align: center;
}

img#usemap {
	border-width: 0px;
}